
body{
    background-color: #880808;
}

  .kontener{
    background-image: linear-gradient(to bottom right,grey, rgb(78, 78, 78), rgb(77, 88, 99), rgb(47,79,79), rgb(0,0,0));
    border: 2px solid green;
    color: #fff;
    font-size: 30px;
    border: 8px solid blueviolet;
    border-top: 22px solid purple;
    border-radius: 25px;
    position: relative; /* Fontos: az elrendezési konténer pozícióját állítsuk be itt */
    z-index: 1;
    /*opacity: 0.5;*/
}


.szoveg{
   /*text-align: center;*/
   font-size: 25px;
   color: white;
   font-weight: bold;
   font-family: 'Times New Roman', Times, serif;



}


#feher_szoveg{
   font-family: 'Times New Roman', Times, serif;
   font-size: 40px;
   color: white;
   -moz-text-fill-color: white;
-webkit-text-fill-color:white ;
   -moz-text-stroke-color: black;
-webkit-text-stroke-color: black;
   -moz-text-stroke-width: 1px;  
-webkit-text-stroke-width: 1px;



}

.gomb {
    width: 150px;
    height: 150px;
    background-image: linear-gradient(red, yellow);
    position: relative;
    animation: example 40s linear infinite; /* Végtelen ismétlés 4 másodperces időtartammal */
    border-radius: 100%;
    z-index:-1
  }

.gomb2 {
    width: 150px;
    height: 150px;
    background-image: linear-gradient(to right, red , yellow);
    position: relative;
    animation: example2 40s linear infinite; /* Végtelen ismétlés 4 másodperces időtartammal */
    border-radius: 100%;
    animation-direction: reverse;  
    z-index:-1
  }

  .gomb3 {
    width: 450px;
    height: 450px;
    background-image: linear-gradient(to bottom right, #880808, #CC7722, #811331);
    position: relative;
    animation: example2 180s linear infinite; /* Végtelen ismétlés 4 másodperces időtartammal */
    border-radius: 100%;
    animation-direction: reverse;  
    z-index:-2
  }

  .gomb4 {
    width: 550px;
    height: 550px;
    background-image: linear-gradient(180deg, #722F37, #CC7722);
    position: relative;
    animation: example2 80s linear infinite; /* Végtelen ismétlés 4 másodperces időtartammal */
    border-radius: 100%;
    animation-direction: reverse;  
    z-index:-2
  }

  .gomb11 {
    width: 150px;
    height: 150px;
    background-image: linear-gradient(red, #FFBF00);
    position: relative;
    animation-direction: reverse;
    animation: example 40s linear infinite; /* Végtelen ismétlés 4 másodperces időtartammal */
    border-radius: 100%;
    z-index:-1
    
  }

.gomb22 {
    width: 150px;
    height: 150px;
    background-image: linear-gradient(red, #E4D00A);
    position: relative;
    animation: example2 40s linear infinite; /* Végtelen ismétlés 4 másodperces időtartammal */
    border-radius: 100%; 
    z-index:-1
  }

  .gomb33 {
    width: 450px;
    height: 450px;
    background-color: #FFC000;
    background-image: linear-gradient(to bottom right, #FFC000, rgb(153, 0, 0));
    position: relative;
    animation: example2 40s linear infinite; /* Végtelen ismétlés 4 másodperces időtartammal */
    border-radius: 100%;
    z-index:-2
  }

  .gomb44 {
    width: 550px;
    height: 550px;
    background-image: linear-gradient(to bottom right, yellow, rgb(153, 0, 0), red, yellow);
    position: relative;
    animation: example2 40s linear infinite; /* Végtelen ismétlés 4 másodperces időtartammal */
    border-radius: 100%; 
    z-index:-2
  }
  
@keyframes example {
    0%{
        transform:rotate(0deg)
                  translate(-165px)
                  rotate(0deg);
      
      }
      100%{
        transform:rotate(460deg)
                  translate(-390px)
                  rotate(-460deg);
      }

}

@keyframes example2 {
    0%{
        transform:rotate(0deg)
                  translate(-165px)
                  rotate(0deg);
      
      }
      100%{
        transform:rotate(960deg)
                  translate(-990px)
                  rotate(-960deg);
      }

}


@keyframes moveOut {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(100vw + 100px)); /* Mozogjon ki a képernyőről */
    }
  }
  
  .circle {
    width: 100px;
    height: 100px;
    background-color: blue;
    border-radius: 50%;
    position: absolute;
    animation: moveOut 4s linear infinite; /* Végtelen ismétlés 4 másodperces időtartammal */
  }